<div class="well well-lg">
	<div class="well well-sm">
<h1>Add a Flashcard</h1>
	</div>
<%= form_for @new_flashcard, :url=>{:action=>"create"} do |f| %>
  <%= f.label :keyword %>
  <%= f.text_field :keyword %>
<P><p>
  <%= f.label :kanji %>
  <%= f.text_field :kanji %>
<P>
  <%= f.submit "Create Flashcard", class: "btn btn-primary" %><p>
  <%= link_to "Go Back", class: "btn btn-default", :action => :index %>
</div>
<% end %>
