<div class="well well-lg">
	<div class="well well-sm">
		<center>
<h1>Type the keyword</h1>
</center>
</div>
<%= form_for @answer_flashcard, :url=>{:action=>"answer"} do |f| %>
  <center><div class="well well-sm"><font style="font-size:250px"><%= @answer_flashcard.kanji %></font></div>
  <%= f.label "Enter Keyword:" %>
  <%= f.text_field :keyword %>
<p><p>
  <%= f.submit "Check Answer", class: "btn btn-primary" %><p>
  </center>
</div>
<% end %>
