<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#">PS9 Kanji Cards</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><%= link_to "Create Card", new_flashcard_path %></li>
        <li><%= link_to 'View Cards ', flashcards_path %></li>
        <li><%= link_to "Start Flashcard Test", test_flashcard_path(@random_card) %></li>
      </ul>
     
     <ul class="nav pull-right">
            <li><span class="badge alert-success"> <%= @flashcards.count %> Cards  </li>
        </ul>
     <!-- , class: "btn btn-primary" <span class="badge alert-success"> <%= @flashcards.count %> -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
